/* google font import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin-left: 40px;
  margin-right: 40px;
}
.hero {
  height: 95vh;
  background-color: #ff5851;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all .4s ease;
}
.hero:hover {
  background-color:#53a7ea;
}
section h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.hero-box {
  display: flex;
  flex-direction: column;
}
.hero-box h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.hero-box h2 {
  font-size: 3rem;
  color: #111;
}
.img-profile {
  width: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Navigation */
header {
  background-color: #fff;
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.brand {
  display: inline-block;
  position: fixed;
  top: 16px;
  left: 40px;
  color: #ff5851;
}
nav {
  position: fixed;
  right: 40px;
  top: 16px;
}
.brand,
nav a {
  text-decoration: none;
  text-transform: uppercase;
}
nav ul {
  list-style: none;
}
nav li{
  display: inline-block;
}
nav a {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  padding: 4px;
  letter-spacing: 1px;
  transition: all .2s ease;
}
nav a:hover {
  color: #ff5851;
}

/* Footer  */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  padding: 2em;
  color: #555;
}




/************** PROJECT PAGE STYLING ***************/

.section-projects {
  padding-top: 5em;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  max-height: 100vh;
  margin-top: 3em;
}
.cards img {
  margin: 10px;
  border: 2px solid  #555;
  transition: all .5s ease;
  /* box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);  */
}
.cards img:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.cards a {
  text-decoration: none;
  color: #555;
  transition: all .3s ease;
}
.cards a:hover {
  color: #ff5851;
}